.navpanel li,
.environment .head .title,
.environment .head .describe,
.environment .features .item,
.environment .content,
.traditional .head .title,
.traditional .head .desc,
.traditional .main-article,
.traditional .original .article .title,
.traditional .original .article .content,
.delivery .timelimit,
.delivery .desc,
.delivery .far,
.delivery .fast,
.delivery .for-fresh {
  -webkit-writing-mode: vertical-rl;
  writing-mode: tb-rl;
  float: right;
}
.setfood .sets .list li .title .price {
  font-family: "Trajan Pro", serif;
}
.setfood .sets .head .spell,
.setfood .sets .head .title,
.setfood .sets .head .content,
.environment .head,
.environment .features,
.environment .content,
.traditional .head,
.traditional .main-article,
.traditional .original,
.delivery .wrapper {
  display: none;
}
.full-section {
  height: 502px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
  padding-top: 40px;
  margin-top: -40px;
  background-position: 0 40px;
  background-repeat: no-repeat;
}
.full-section .h2 {
  font-size: 44px;
  padding-top: 215px;
  margin-top: 0;
  margin-bottom: 15px;
}
.full-section p {
  font-size: 23px;
}
.full-section.section-bg-1 {
  background-image: url("img/home-section-bg-1.jpg");
}
.full-section.section-bg-2 {
  background-image: url("img/home-section-bg-2.jpg");
}
.full-section.section-bg-3 {
  background-image: url("img/home-section-bg-3.jpg");
}
.full-section.section-bg-4 {
  background-image: url("img/home-section-bg-4.jpg");
}
.navpanel {
  background: url("img/home-nav-panel.png") no-repeat;
  height: 588px;
  width: 41px;
  padding-top: 40px;
  position: fixed;
  top: 50px;
  left: 0;
  display: none;
}
.navpanel .nav {
  height: 100%;
}
.navpanel li {
  font-size: 16px;
  padding: 0 11px;
}
.navpanel li a {
  display: inline-block;
  color: #000;
}
.navpanel li a:hover {
  background-color: #fff;
  text-decoration: underline;
}
.navpanel li .split {
  color: #000;
  display: inline-block;
  margin: 10px 0;
}
.navpanel li.last:after {
  content: "";
}
.navpanel li.active a {
  color: #cf0019;
}
.setfood .sets {
  zoom: 1;
  background: url("img/vegetables.jpg") center bottom no-repeat;
  padding-top: 70px;
  padding-bottom: 440px;
}
.setfood .sets:before,
.setfood .sets:after {
  content: "";
  display: table;
}
.setfood .sets:after {
  clear: both;
}
.setfood .sets .head {
  float: left;
  width: 160px;
  height: 210px;
  margin-left: 75px;
  background: url("/img/home/header-select.png") no-repeat center left;
}
.setfood .sets .head .title {
  font-size: 49px;
  line-height: 1.3;
}
.setfood .sets .head .content {
  font-size: 14px;
  height: 160px;
}
.setfood .sets .list {
  zoom: 1;
  float: right;
  margin-right: 57px;
  width: 450px;
}
.setfood .sets .list:before,
.setfood .sets .list:after {
  content: "";
  display: table;
}
.setfood .sets .list:after {
  clear: both;
}
.setfood .sets .list li {
  margin-left: 60px;
  float: right;
}
.setfood .sets .list li .title {
  background: url("img/set-spliter.png") 0 0 no-repeat;
  position: relative;
  font-size: 20px;
  width: 1em;
  font-size: 20px;
  width: 1em;
  float: right;
  padding-left: 18px;
  margin-left: 10px;
}
.setfood .sets .list li .title .price {
  font-size: 34.5px;
  color: #df4d65;
  line-height: 1;
  margin: 5px 0;
  display: inline-block;
}
.setfood .sets .list li .buy {
  text-indent: -2500px;
  background: url("img/buy.png") top;
  width: 30px;
  height: 120px;
  float: right;
}
.setfood .others {
  margin: 0 17px;
}
.setfood .others h3.title {
  font-size: 25px;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #949494;
}
.setfood .others .selections {
  zoom: 1;
  margin-bottom: 125px;
  margin-right: -20px;
}
.setfood .others .selections:before,
.setfood .others .selections:after {
  content: "";
  display: table;
}
.setfood .others .selections:after {
  clear: both;
}
.setfood .others .selections .item {
  float: left;
  margin-right: 20px;
  height: 140px;
  width: 211px;
}
.setfood .others .selections .item .title {
  float: left;
  width: 50px;
  margin-right: 5px;
}
.setfood .others .selections .item .title .name {
  line-height: 1;
  font-size: 28px;
  width: 1em;
}
.setfood .others .selections .item .title .spell {
  font-size: 12px;
  width: 1em;
}
.setfood .others .selections .item img {
  border: 1px solid #d9d9d9;
  display: block;
  height: 137px;
  width: 154px;
}
.setfood .others .selections .item.last {
  margin-right: 0;
}
.environment {
  color: #fff;
  height: 1069px;
  background: #1d3c35 url("/img/home/home-1.png") no-repeat center;
}
.environment .container {
  position: relative;
}
.environment .head {
  zoom: 1;
  position: absolute;
  height: 245px;
  width: 290px;
  top: 65px;
  left: 0;
}
.environment .head:before,
.environment .head:after {
  content: "";
  display: table;
}
.environment .head:after {
  clear: both;
}
.environment .head .title {
  margin: 0;
  font-size: 49px;
  line-height: 1.2;
  margin-left: 20px;
  height: 280px;
}
.environment .head .describe {
  font-size: 14px;
  height: 195px;
}
.environment .features {
  background: url("img/home-features.png") right no-repeat;
  right: 0;
  top: 70px;
  width: 650px;
  height: 200px;
  position: absolute;
}
.environment .features .item {
  font-size: 24px;
  margin-right: 135px;
  margin-left: 40px;
  padding-top: 45px;
  line-height: 1.2;
  height: 150px;
}
.environment .content {
  width: 100%;
  height: 520px;
  padding-top: 380px;
  padding-bottom: 180px;
  font-size: 26px;
  margin-bottom: 44px;
  line-height: 1.35;
  text-indent: 2em;
}
.environment .content p {
  margin-left: 40px;
}
.traditional .container {
  background: #fff url("/img/home/home-2.png") no-repeat center;
  height: 1416px;
  position: relative;
}
.traditional .head {
  zoom: 1;
  padding-top: 83px;
  padding-bottom: 42px;
}
.traditional .head:before,
.traditional .head:after {
  content: "";
  display: table;
}
.traditional .head:after {
  clear: both;
}
.traditional .head .title {
  height: 165px;
  margin-left: 18px;
  font-size: 32px;
  line-height: 38px;
}
.traditional .head .desc {
  height: 240px;
  font-size: 14px;
}
.traditional .main-article {
  zoom: 1;
  width: 100%;
  padding-bottom: 270px;
  margin: 0 35px;
}
.traditional .main-article:before,
.traditional .main-article:after {
  content: "";
  display: table;
}
.traditional .main-article:after {
  clear: both;
}
.traditional .main-article .title {
  height: 330px;
  margin-left: 43px;
}
.traditional .main-article .content {
  font-size: 20px;
  height: 410px;
}
.traditional .main-article .content p {
  margin-left: 31px;
  margin-left: 29px \9;
}
.traditional .original {
  zoom: 1;
  margin-bottom: 150px;
}
.traditional .original:before,
.traditional .original:after {
  content: "";
  display: table;
}
.traditional .original:after {
  clear: both;
}
.traditional .original .refuse {
  float: right;
  margin-right: 35px;
}
.traditional .original .article {
  float: left;
  width: 290px;
}
.traditional .original .article .title {
  font-size: 49px;
  margin-left: 22px;
  height: 290px;
  line-height: 1;
}
.traditional .original .article .content {
  font-size: 14px;
}
.delivery {
  color: #fff;
  background-color: #474b2f;
}
.delivery .container {
  height: 798px;
  background: url("/img/home/home-3.png") no-repeat center;
}
.delivery .orange {
  color: #c25125;
}
.delivery .timelimit {
  font-size: 49px;
  height: 250px;
  line-height: 1.1;
  margin-left: 35px;
}
.delivery .desc {
  height: 392px;
  font-size: 23px;
  margin-left: 25px;
  margin-left: 10px 9;
}
.delivery .far {
  height: 320px;
  font-size: 69px;
  line-height: 1;
  line-height: 0.95 9;
  margin-left: 80px;
}
.delivery .fast {
  height: 420px;
  font-size: 79px;
  line-height: 1;
}
.delivery .for-fresh {
  font-size: 43px;
}
.seasons .title {
  padding: 0 15px;
  font-size: 38px;
  margin-bottom: 10px;
}
.seasons .subtitle {
  padding: 0 15px;
  font-size: 20px;
  margin-bottom: 30px;
}
.seasons .body {
  padding: 0 15px;
  font-size: 14px;
  margin-bottom: 230px;
}
