@import "nib"
@import "mixins"

.container
    h1
        margin: 20px 0

.packages
    clearfix()
    .radio
        background-color: #fff
        padding:50px
        border: 3px solid #ccc
        border-radius: 5px
        text-align: center
        font-size: 24px
        width: 150px
        float: left
        margin-right: 20px
        input[type="radio"]
            display:none
        &:hover,&.active
            border: 3px solid darkblue


.buy-form
    padding: 30px
    margin-bottom: 40px
    background-color: #f8f8f8
    display: block
    width: auto
    border-radius: 10px
    .step
        list-style-type: none
        margin-bottom: 20px
        .title
            clearfix()
            margin-bottom: 20px
            padding-bottom: 10px
            border-bottom: 1px solid #ddd
            label
                float: left
                background-color: darkblue
                color: #fff
                width: 20px
                text-align: center
                margin-right: 5px
                margin-bottom: 0
        .controls
            margin-left: 5px
    .submit-button
        text-align: right