@import "nib"
@import "mixins"

#poetry 
    .container
        clearfix()
        padding-top: 80px
        position: relative
        padding-bottom: 265px
        background: url(img/about-section-bg-1.png) no-repeat bottom
    .hd
        @extend $vertical-layout
        position: absolute
        right: 35px
        top: 80px
        .title,.author
            @extend $font-serif
            line-height: 1.1
            margin: 0
            font-size: 48px
    .article
        margin-right: 187px
        float: right
        .origin
            @extend $vertical-layout
            float: right
            margin: 0 auto
            font-size: 26px
            line-height: 1.5
            p
                margin-bottom: 20px
        .scene
            margin: 0 6px 42px 6px
        .annotation 
            .title
                font-size: 32px
            .content
                text-indent: 2em
                font-size: 20px
                line-height: 1.5

#quality
    background-color:#1d3c35
    color:#fff
    .container
        background:url(img/about-section-bg-2.png) no-repeat
        padding-bottom: 45px
    .article
        margin-left:390px
        padding-top: 85px
        padding-bottom: 10px
        .title
            font-size: 32px
            margin-bottom: 35px
        .content
            font-size: 20px

#team
    .container
        clearfix()
        background:url(img/about-section-bg-3.png) no-repeat left top
        position:relative
        height:670px
        padding-top:93px
        padding-bottom:105px
    .title
        @extend $vertical-layout
        float:right
        font-size:48px
    .content
        @extend $vertical-layout
        float:right
        text-indent:2em
        font-size:25px
    .slogan
        @extend $vertical-layout
        position:absolute
        top:100px
        left:60px
        font-size:25px
