@import "nib"
@import "mixins"

body
    @extend $font-serif
    line-height: 1.5

ul
    list-style-type: none
    padding: 0
    margin: 0

h2
    margin: 0

.container
    padding: 0
    width: 940px

.clearfix
    clearfix()

.banner
    background-color: darkblue
    color: #fff
    .container
        position: relative
    .account
        position: absolute
        right: 14px
        top: 25px
        .item
            margin-right: 10px
            color: inherit
    .logo
        margin: 30px auto
        display: block
    .slogan
        text-align: center
        font-size: 102px
        margin-top: 30px
        color: inherit
        line-height: 1
        .pink
            color: #df4d65
    .spliter
        background-image: url(img/spliter.png)
        background-repeat: no-repeat
        background-position: center center
        padding: 18px
        height: 0
        margin: 0
        border: none
    .subslogan
        font-size: 20px
        padding-bottom: 65px
        color: inherit
        text-align: center

.navigation
    height: 40px
    line-height: 1
    box-shadow: 0 0 5px rgba(0,0,0,.5)
    border-bottom: 1px solid #cccunquote("\9");
    z-index: 999
    background-color: #fff
    width:100%
    .navbar
        border: none
        min-height: 40px
        color: darkblue
        .navbar-nav
            li
                float: left
            .active a
                color: red
            li a
                color: inherit
                padding: 10px 17px

.breadcrumb
    background-color: transparent
    height: 50px
    line-height: 50px
    padding: 0
    margin: 0
    color: #000
    a
        color:inherit
    .active
        color: red
    li
        display: inline-block
        &:before
            color: #000

.pinyin
    @extend $vertical-layout
    font-family: "Trajan Pro", serif
    text-transform: uppercase
    color: red

.footer
    @extend $font-sans-serif
    background: url(img/wave-dot.png) repeat-x top
    height: 850px
    background-color: darkblue
    color: #fff
    .contact
        clearfix()
        padding-top: 97px
        padding-bottom: 46px
        border-bottom: 1px solid darkgreen
        .map
            width:506px
            height:260px
            background-color:#1d3c35
            margin-right: 38px
            cursor:default
            float:left
        .info
            float:left
            .title
                font-size:20px
                margin-bottom:16px
            .address
                font-size:14px
                margin-bottom:12px
    .link-groups
        padding-top: 32px
        padding-bottom: 22px
        border-bottom: 1px solid darkgreen
        clearfix()
        .group 
            .title
                margin-bottom: 30px
            li
                a
                    color:#fff
    .copyright
        padding-top: 30px
        text-align:center

.btn
    color: darkblue
    position: relative
    height: 33px
    padding: 0 15px
    border: none
    background:#fff url(img/btn.png) no-repeat left 1px
    &:after
        content:""
        background:#fff url(img/btn.png) no-repeat right 1px
        position: absolute
        height: @height
        width:12px
        top: 0
        right: 0
        top: -7pxunquote("\9")

