@font-face
    font-family: 'TypeLand KhangXi Dict'
    font-style: normal
    font-weight: 400
    src:local('TypeLand KhangXi Dict Trial'),
        url('/fonts/TpldKhangXiDictTrial.otf') format("opentype")

@font-face
    font-family: 'Trajan Pro'
    font-style: normal
    font-weight: 400
    src:local('Trajan Pro'),
        url('/fonts/TrajanPro-Regular.otf') format("opentype")

.navigation .navbar .navbar-nav li a
    padding: 10px 14px

.environment
    .head
        height: 280px

.traditional
    .main-article
        .title
            height: 350px
        .content
            height: 415px

.delivery 
    .timelimit
        height:260px