$vertical-layout
    -webkit-writing-mode: vertical-rl
    writing-mode: tb-rl

$font-serif
    font-family: "Songti SC","SimSun",serif

$font-sans-serif
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif