/* variables */
red=#cf0019
darkblue=#1e2f36
darkgreen=#4b595e
green=#1d3c35
/* mixins */
$vertical-layout
    -webkit-writing-mode: vertical-rl
    writing-mode: tb-rl
    float: right

$horizon-layout
    -webkit-writing-mode: horizontal-tb
    writing-mode: lr-tb
    float: none

$font-serif
    font-family: "Songti SC","SimSun",serif

$font-serif-english
    font-family: "Trajan Pro", serif

$font-sans-serif
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif

$adjustable-content
    width:2000px
    display: table-cell
    table-layout: fixed
    word-wrap: break-word
    word-break: break-all